<nav *ngIf="autenticado" class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de controle de clientes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Gerenciar Clientes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/pages/clientes/dashboard"
                >Dashboard Principal</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pages/clientes/cadastro"
                >Cadastrar Clientes</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pages/clientes/consulta"
                >Consultar Clientes</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="navbar-text me-3 mt-1">
            <strong>{{ nomeUsuario | uppercase }}</strong> ({{ perfilUsuario }})
          </div>
        </li>
        <li class="nav-item">
          <div class="mt-2">
            <button class="btn btn-outline-secondary btn-sm" (click)="logout()">Sair do sistema</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>





